.cont {
  width: 100%;
  overflow: hidden;
  /* color: #e6d5b8; */
  /* color: var(--chakra); */
  color: var(--chakra-colors-gray-400);
}

.loader {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.bg {
  height: 100%;
  width: 100%;
  background-color: #e6d5b8;
}

.marquee {
  display: flex;

  align-items: center;
  cursor: -webkit-grab;
  /* color: #fff !important; */
}

.item {
  font-size: 3em;
  letter-spacing: -0.05em;
  padding-right: 0.25em;
  white-space: nowrap;
}

.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
