/* .link__gray {
  width: 100%;
  height: 60px;
  padding: 12px 20px 12px 20px;
  background: var(--chakra-colors-whiteAlpha-900);
  color: var(--chakra-colors-blackAlpha-700);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 13px;
  line-height: 1.5em;
  letter-spacing: -0.2px;
  text-align: center;
  border: 1px solid var(--chakra-colors-gray-200);
} */

.active {
  background: var(--chakra-colors-orange-400);
  color: var(--chakra-colors-whiteAlpha-900);
  border: none;
}
/* .active__exp {
  background: var(--yellow);
  color: var(--black);
}
.active__proj {
  background: var(--tab-red);
  color: var(--red);
}
.active__blog {
  background: var(--tab-blue);
  color: var(--blue);
} */
